<nav class = "grey darken-4 z-depth-0 navbar-custom" >
    <div class="custFont">
        <div class = "nav-wrapper container valign-wrapper">
            <a href="/dashboard" class="brand-logo center custFontAbel">stonkBuddies</a>
            <a href="#!" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="/groups">Public Groups</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul> 
        </div>
    </div>
</nav>