<h1 class="custFont"><i class="fas fa-chart-line"></i><br>stonkBuddies | Login</h1>
<div class="container">
    <p class="heading-3"></p>
</div>

<div class="divider"></div>
<br>
<div class="section">
    <a href="/auth/google" class="btn blue darken-1 z-depth-0 waves-effect waves-light hoverable">
        <i class="fab fa-google left "></i> Login with Google
    </a>
</div>
